<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

      <property name="locations">classpath:apixpdq.properties</property>

      <property name="hibernate.connection.driver_class">${jdbc.driverClassName}</property>
      <property name="hibernate.connection.url">${jdbc.url}</property>
      <property name="hibernate.connection.username">${jdbc.username}</property>
      <property name="hibernate.connection.password">ats_empi</property>
      <property name="hibernate.connection.pool_size">50</property>
      <property name="hibernate.jdbc.fetch_size">100</property>
      <property name="dialect">${jdbc.hibernate.dialect}</property>
      <property name="show_sql">false</property>
	  <property name="format_sql">false</property>      
      
     <!-- <mapping resource="MessageStore.hbm.xml"/>-->     
        <mapping class="com.ats.aempi.model.AddressTypeDict" />
		<mapping class="com.ats.aempi.model.AppUser" />
		<mapping class="com.ats.aempi.model.AreaDict" />
		<mapping class="com.ats.aempi.model.ArearoomDict" />
		<mapping class="com.ats.aempi.model.AuditEvent" />
		<mapping class="com.ats.aempi.model.AuditEventTypeDict" />
		<mapping class="com.ats.aempi.model.BloodtypeDict" />
		<mapping class="com.ats.aempi.model.Contactperson" />
		<mapping class="com.ats.aempi.model.CriticalstatusDict" />
		<mapping class="com.ats.aempi.model.DegreeTypeDict" />
		<mapping class="com.ats.aempi.model.DeptDict" />
		<mapping class="com.ats.aempi.model.EthnicgroupDict" />
		<mapping class="com.ats.aempi.model.GenderDict" />
		<mapping class="com.ats.aempi.model.HospitalDict" />
		<mapping class="com.ats.aempi.model.Icd10Dict" />
		<mapping class="com.ats.aempi.model.Icd9Dict" />
		<mapping class="com.ats.aempi.model.IdentifierDomainDict" />
		<mapping class="com.ats.aempi.model.InpatientClassDict" />
		<mapping class="com.ats.aempi.model.LanguageDict" />
		<mapping class="com.ats.aempi.model.MaritalStatusDict" />
		<mapping class="com.ats.aempi.model.NameTypeDict" />
		<mapping class="com.ats.aempi.model.NationalityDict" />
		<mapping class="com.ats.aempi.model.Person" />
		<mapping class="com.ats.aempi.model.NewPerson" />
		<mapping class="com.ats.aempi.model.PersonIdentifierEMPI" />
		<mapping class="com.ats.aempi.model.PersonLink" />
		<mapping class="com.ats.aempi.model.PersonLinkReview" />
		<mapping class="com.ats.aempi.model.PhoneTypeDict" />
		<mapping class="com.ats.aempi.model.ProfessionTypeDict" />
		<mapping class="com.ats.aempi.model.RaceDict" />
		<mapping class="com.ats.aempi.model.RelationshipTypeDict" />
		<mapping class="com.ats.aempi.model.ReligionDict" />
		<mapping class="com.ats.aempi.model.Role" />
		<mapping class="com.ats.aempi.model.SickbedDict" />
		<mapping class="com.ats.aempi.model.UserFile" />
		<mapping class="com.ats.aempi.model.UserRole" />
		<mapping class="com.ats.aempi.model.UserRoleId" />
		<mapping class="com.ats.aempi.model.UserSession" />
		<mapping class="com.ats.aempi.model.WorkstatusTypeDict" />  
		<mapping class="com.ats.aempi.model.PatientVisit"/> 
		<mapping class="com.ats.aempi.model.PatientVisitHistory"/>
		<mapping class="com.ats.aempi.model.ExtendForPerson"/>
		<mapping class="com.ats.aempi.model.Empi"/> 
		<mapping class="com.ats.aempi.model.TransPatientVisit"/>
		<mapping class="com.ats.aempi.model.TransPerson"/>
		<mapping class="com.ats.aempi.model.PersonLinkCancel"/>
		<mapping class="com.ats.aempi.model.MergeEvent"/>
		<mapping class="com.ats.aempi.model.RelevanceAndId"/>
		<mapping class="com.ats.aempi.model.PersonInOut"/>
</session-factory>

</hibernate-configuration>