@charset "utf-8";

/* CSS Document */
body{ margin:0px; background-color:#FFFFFF; padding-top:2px;}
#left{ float:left; width:100%; /*background-color:#e3e6ed;*/ background-color:#f6f6f6; display:block;}
.right{ float:right;}
.l_hand{ width:100%; height:30px; background-image:url(../images/reg_title_1.png); background-repeat:repeat-x; color:#FFFFFF; font-size:14px; font-weight: bold;font-family:Arial, Helvetica, sans-serif; text-align:center;}
.l_hand span{ padding-left:10px; line-height:30px; }

.l_search{ width:100px; height:50px;}
.l_s_left{ padding-left:10px; color:#424345; font-size:14px; font-weight:bold;  width:95%; padding-top:8px;}
.l_s_right{ height:100%;}
.l_sr_lpage{ float:left; background-image:url(../images/pix_seach_left.png); background-repeat:no-repeat; height:32px; width:26px;}
.l_sr{ float:left; background-image:url(../images/pix_seach_page.png); background-repeat: repeat-x; height:32px; width:160px;}
.l_sr_rpage{ float:left; background-image:url(../images/pix_seach_right.png); background-repeat:no-repeat; height:32px; width:26px;}
.l_sr input{ width:160px; border:0; font-size:14px; margin-top:8px;}
.l_s_ps{ padding-left:70px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#666666;}
.l_s_right{height:32px; width:232px; background-image:url(../images/pix_search1.png); background-repeat:no-repeat; display:block; padding-top:5px; background-position:15px 5px; padding-left:10px;}
.l_s_right:hover{background-image:url(../images/pix_search1_a.png); background-repeat:no-repeat;}
.l_s_right input{ width:190px; border:0; font-size:14px; margin-top:9px; margin-left:33px;}
.l_s_right select{ width:190px; border:0; font-size:14px; margin-top:9px; margin-left:33px;}

.l_r_right{height:32px; width:232px; background-image:url(../images/pix_requeried.png); background-repeat:no-repeat; display:block; padding-top:5px; background-position:15px 5px; padding-left:10px;}
.l_r_right:hover{background-image:url(../images/pix_requeried_a.png); background-repeat:no-repeat;}
.l_r_right input{ width:190px; border:0; font-size:14px; margin-top:9px; margin-left:33px;}
.l_r_right select{ width:190px; border:0; font-size:14px; margin-top:9px; margin-left:33px;}

.l_buttom{ padding-top:25px; height:33px; width:210px; margin:0 auto;}
.buttom_left{ background-image:url(../images/reg_buttom_left.png); background-repeat:no-repeat; height:100%; width:4px; float:left;}
.buttom_right{ background-image:url(../images/reg_buttom_right.png); background-repeat:no-repeat; height:100%; width:3px; float:left; }
.buttom_box{color: #666666; font-size:12px; background-image:url(../images/reg_buttom_page.png); background-repeat:repeat-x; height:100%; width:200px;text-align:center; float:left; line-height:35px; font-weight:bold;}
.l_b_s{  float:left;height:100%; width:99px; font-weight:bold; display:block; text-align:center; border-right:#9d9b9b solid 1px;}
.l_b_c{ float:left; width:100px; display:block;cursor:pointer;}

 .l_b_s:hover, .l_b_c:hover{ background-image:url(../images/reg_buttom_page_a.png); background-repeat:repeat-x; color: #000000; font-weight: bold;}

.ps{ text-align:center; color:#666666; font-size:12px; height:40px; line-height:30px;}
