<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-lazy-init="true">

	<aop:config>
		<aop:advisor id="userManagerTx" advice-ref="userManagerTxAdvice"
			pointcut="execution(* *..service.UserManager.*(..))" order="0" />
		<aop:advisor id="userManagerSecurity" advice-ref="userSecurityAdvice"
			pointcut="execution(* *..service.UserManager.saveUser(..))" order="1" />
		<aop:advisor id="managerTx" advice-ref="txAdvice"
			pointcut="execution(* *..service.*Manager.*(..))" order="2" />
	</aop:config>

	<!-- Enable @Transactional support -->
	<tx:annotation-driven />

	<!-- Enable @AspectJ support -->
	<aop:aspectj-autoproxy />

	<!-- Enable @Configured support -->
	<aop:spring-configured />

	<tx:advice id="txAdvice">
		<tx:attributes>
			<!-- Read-only commented out to make things easier for end-users -->
			<!-- http://issues.appfuse.org/browse/APF-556 -->
			<!--tx:method name="get*" read-only="true"/-->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<tx:advice id="userManagerTxAdvice">
		<tx:attributes>
			<tx:method name="save*" rollback-for="UserExistsException" />
		</tx:attributes>
	</tx:advice>

	<bean id="userSecurityAdvice" class="com.ats.aempi.service.UserSecurityAdvice" />

	<!-- Configure Velocity for sending e-mail -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>

 
	<!--
		===================================================================
	-->
	<!--
		Security class from Spring Security - used to configure Password
	-->
	<!--
		Encryption in UserManagerImpl. Can override in security.xml.
	-->
	<!--
		===================================================================
	-->
	<bean id="passwordEncoder"
		class="org.springframework.security.providers.encoding.ShaPasswordEncoder" />

	<!--
		===================================================================
	-->
	<!--
		Managers: For accessing DAOs
	-->
	<!--
		===================================================================
	-->
	<bean id="manager" class="com.ats.aempi.service.impl.UniversalManagerImpl">
		<property name="dao" ref="universalDao" />
	</bean>

	<bean id="lookupManager" class="com.ats.aempi.service.impl.LookupManagerImpl">
		<property name="lookupDao" ref="lookupDao" />
	</bean>

	<bean id="userManager" class="com.ats.aempi.service.impl.UserManagerImpl">
		<property name="userDao" ref="userDao" />
		<property name="userSessionDao" ref="userSessionDao" />
		<property name="passwordEncoder" ref="passwordEncoder" />
	</bean>

	<bean id="roleManager" class="com.ats.aempi.service.impl.RoleManagerImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>

	<bean id="empiconfiguration" class="com.ats.aempi.configuration.EMPIConfiguration"
		init-method="init">
		<property name="configFile" value="/actors/mpi-config.xml" />
	</bean>

	<bean id="context" class="com.ats.aempi.context.Context">
		<property name="userManager" ref="userManager" />
		<property name="personManagerService" ref="personManagerService" />
		<property name="personQueryService" ref="personQueryService" />
		<property name="configuration" ref="empiconfiguration" />
		<property name="validationService" ref="validationService" />
		<property name="stringComparisonService" ref="stringComparisonService" />
		<property name="transformationService" ref="transformationService" />
		<property name="auditEventService" ref="auditEventService" />
	</bean>

	<bean id="personManagerService"
		class="com.ats.aempi.service.impl.PersonManagerServiceImpl">
		<property name="personDao" ref="personDao" />
		<property name="personLinkDao" ref="personLinkDao" />
		<property name="patientvisitDao" ref="patientvisitDao"/>
		<property name="empiDao" ref="empiDao"/>
	</bean>

	<bean id="personQueryService"
		class="com.ats.aempi.service.impl.PersonQueryServiceImpl">
		<property name="personDao" ref="personDao" />
		<property name="personLinkDao" ref="personLinkDao" />
		<property name="patientvisitDao" ref="patientvisitDao"/>
		<property name="empiDao" ref="empiDao"/>
	</bean>

	<bean id="auditEventService" class="com.ats.aempi.service.impl.AuditEventServiceImpl"
		init-method="init">
		<property name="auditEventDao" ref="auditEventDao" />
	</bean>
	
	<bean id="validationService" class="com.ats.aempi.service.impl.ValidationServiceImpl">
	</bean>

	<!--  Distance Metrics  -->
	<bean id="Exact"
		class="com.ats.aempi.stringcomparison.metrics.ExactMatchDistanceMetric">
		<property name="name" value="Exact"/>
	</bean>
	<bean id="Jaro"
		class="com.ats.aempi.stringcomparison.metrics.JaroDistanceMetric">
		<property name="name" value="Jaro"/>
	</bean>
	<bean id="JaroWinkler"
		class="com.ats.aempi.stringcomparison.metrics.JaroWinklerAliasiDistanceMetric">
		<property name="name" value="JaroWinkler"/>
	</bean>
	<bean id="JaroWinklerV2"
		class="com.ats.aempi.stringcomparison.metrics.JaroWinklerSimmetricsDistanceMetric">
		<property name="name" value="JaroWinklerV2"/>
	</bean>
	<bean id="Levenshtein"
		class="com.ats.aempi.stringcomparison.metrics.LevenshteinDistanceMetric">
		<property name="name" value="Levenshtein"/>
	</bean>
	<bean id="NeedlemanWunsch"
		class="com.ats.aempi.stringcomparison.metrics.NeedlemanWunschDistanceMetric">
		<property name="name" value="NeedlemanWunsch"/>
	</bean>
	<bean id="SmithWaterman"
		class="com.ats.aempi.stringcomparison.metrics.SmithWatermanDistanceMetric">
		<property name="name" value="SmithWaterman"/>
	</bean>
	<bean id="MongeElkan"
		class="com.ats.aempi.stringcomparison.metrics.MongeElkanDistanceMetric">
		<property name="name" value="MongeElkan"/>
	</bean>
	<bean id="Gotoh"
		class="com.ats.aempi.stringcomparison.metrics.GotohDistanceMetric">
		<property name="name" value="Gotoh"/>
	</bean>
	<bean id="GotohWindowedAffine"
		class="com.ats.aempi.stringcomparison.metrics.GotohWindowedAffineDistanceMetric">
		<property name="name" value="GotohWindowedAffine"/>
	</bean>
	<bean id="Block"
		class="com.ats.aempi.stringcomparison.metrics.BlockDistanceMetric">
		<property name="name" value="Block"/>
	</bean>
	<bean id="Soundex"
		class="com.ats.aempi.stringcomparison.metrics.SoundexDistanceMetric">
		<property name="name" value="Soundex"/>
	</bean>
	<bean id="Euclidean"
		class="com.ats.aempi.stringcomparison.metrics.EuclideanDistanceMetric">
		<property name="name" value="Euclidean"/>
	</bean>
	<bean id="QGrams"
		class="com.ats.aempi.stringcomparison.metrics.QGramsDistanceMetric">
		<property name="name" value="QGrams"/>
	</bean>
	<bean id="JaccardString"
		class="com.ats.aempi.stringcomparison.metrics.JaccardSimilarityMetricStringVersion">
		<property name="name" value="JaccardString"/>
	</bean>
	<bean id="Cosine"
		class="com.ats.aempi.stringcomparison.metrics.CosineSimilarityMetric">
		<property name="name" value="Cosine"/>
	</bean>
	<bean id="DiceString"
		class="com.ats.aempi.stringcomparison.metrics.DiceSimilarityMetricStringVersion">
		<property name="name" value="DiceString"/>
	</bean>
	<bean id="Matching"
		class="com.ats.aempi.stringcomparison.metrics.MatchingCoefficientMetric">
		<property name="name" value="Matching"/>
	</bean>
	<bean id="Overlap"
		class="com.ats.aempi.stringcomparison.metrics.OverlapCoefficientMetric">
		<property name="name" value="Overlap"/>
	</bean>

	<bean id="stringComparisonService"
		class="com.ats.aempi.stringcomparison.impl.StringComparisonServiceImpl">
		<property name="distanceMetricTypeMap">
			<map>
				<entry key="Exact" value-ref="Exact"/>
				<entry key="Jaro" value-ref="Jaro"/>
				<entry key="JaroWinkler" value-ref="JaroWinkler"/>
				<entry key="JaroWinklerV2" value-ref="JaroWinklerV2"/>
				<entry key="Levenshtein" value-ref="Levenshtein"/>				
				<entry key="NeedlemanWunsch" value-ref="NeedlemanWunsch"/>
				<entry key="SmithWaterman" value-ref="SmithWaterman"/>
				<entry key="MongeElkan" value-ref="MongeElkan"/>
				<entry key="Gotoh" value-ref="Gotoh"/>
				<entry key="GotohWindowedAffine" value-ref="GotohWindowedAffine"/>
				<entry key="Block" value-ref="Block"/>
				<entry key="Soundex" value-ref="Soundex"/>
				<entry key="Euclidean" value-ref="Euclidean"/>
				<entry key="QGrams" value-ref="QGrams"/>
				<entry key="JaccardString" value-ref="JaccardString"/>
				<entry key="Cosine" value-ref="Cosine"/>
				<entry key="DiceString" value-ref="DiceString"/>
				<entry key="Matching" value-ref="Matching"/>
				<entry key="Overlap" value-ref="Overlap"/>
			</map>
		</property>
	</bean>

	<!--  Field Transformation Functions  -->
	<bean id="Metaphone"
		class="com.ats.aempi.transformation.function.MetaphoneFunction">
		<property name="name" value="Metaphone"/>
	</bean>
	<bean id="DoubleMetaphone"
		class="com.ats.aempi.transformation.function.DoubleMetaphoneFunction">
		<property name="name" value="DoubleMetaphone"/>
	</bean>
	<bean id="SoundexFunction"
		class="com.ats.aempi.transformation.function.SoundexFunction">
		<property name="name" value="SoundexFunction"/>
	</bean>
	<bean id="RefinedSoundex"
		class="com.ats.aempi.transformation.function.RefinedSoundexFunction">
		<property name="name" value="RefinedSoundex"/>
	</bean>

	<bean id="transformationService"
		class="com.ats.aempi.transformation.impl.TransformationServiceImpl">
		<property name="transformationFunctionTypeMap">
			<map>
				<entry key="Metaphone" value-ref="Metaphone"/>
				<entry key="DoubleMetaphone" value-ref="DoubleMetaphone"/>
				<entry key="SoundexFunction" value-ref="SoundexFunction"/>
				<entry key="RefinedSoundex" value-ref="RefinedSoundex"/>
			</map>
		</property>
	</bean>

	<bean id="personLoaderManager" class="com.ats.aempi.loader.SpringPersonLoaderManager">
		<property name="username" value="admin" />
		<property name="password" value="admin" />
	</bean>

	<bean id="dataLoader" class="com.ats.aempi.loader.NominalSetFileLoader">
	</bean>

	<bean id="nominalSetDataLoader" class="com.ats.aempi.loader.NominalSetFileLoader">
	</bean>
</beans>
